<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Search Engine</title>

    <!-- Using jQuery with a CDN -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- JS file -->
    <script src="easy-autocomplete/jquery.easy-autocomplete.min.js"></script>

    <!-- CSS file -->
    <link rel="stylesheet" href="easy-autocomplete/easy-autocomplete.min.css">

    <!-- Additional CSS Themes file - not required-->
    <link rel="stylesheet" href="easy-autocomplete/easy-autocomplete.themes.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                url: function (search_item) {
                    return '/search?key=' + search_item + '&core=' + document.getElementById("cores").value;
                },
                list: {
                    match: {
                        enabled: true
                    },
                    maxNumberOfElements: 100,

                    showAnimation: {
                        type: "fade",
                        time: 300
                    },
                    hideAnimation: {
                        type: "fade",
                        time: 200
                    }
                },
                template: {
                    type: "links",
                    fields: {
                        link: "url"
                    }
                },

                theme: "round",
                getValue: "title"
            };

            $("#basics").easyAutocomplete(options);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(() => {
            $.get('/cores', (cores, status) => {
                if (status === 'success') {
                    let OPTIONS = '';
                    $.each(cores, function (i, core) {
                        console.log(core.name)
                        OPTIONS = OPTIONS + "<option>" + core.name + "</option>";
                    });
                    $("#cores").append(OPTIONS)
                }
            });
        });
    </script>
</head>

<body>
    <h1>Web Crawler</h1>
    <select id='cores'></select>
    <p />
    <input id="basics" autocomplete="off" spellcheck="false" placeholder="Tipp mich..." />
</body>

</html>